body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}

table { 
	width: 1000px; 
	border-collapse: collapse; 
	margin:50px auto;
}

th { 	
    background-color: #ebebeb;
	color: rgb(52, 52, 52); 
	font-weight: bold; 
}

td, th { 
	padding: 8px; 
	border: 1px solid rgb(153, 153, 153); 	
	text-align: left; 
	font-size: 15px;
}

.labels tr td {
	background-color: #c1c1c1;
	font-weight: bold;
	color: rgb(52, 52, 52); 
}

.error-message {
    margin-bottom: 3px;
}

.red-dot, .yellow-dot {    
    height: 12px;
    width: 12px;    
    border-radius: 50%;
    display: inline-block;
  }

.red-dot {
    background-color: #ff000c;
}

.yellow-dot {
    background-color: #ffa700;
}

.even-row {
    background-color: #ebebeb;
}

.pointer-right {
    cursor: pointer;
    float: left;
    width: 20px;
}

.pointer-up {
    cursor: pointer;
    float: left;
    width: 20px;
}

.full-path {
    float: right;
    width: calc(100% - 20px);
}

.pointer-right-header {    
    float: right;
    width: 20px;
}

.pointer-up-header {    
    float: right;
    width: 20px;
}

.ta-header {
    float: left;
    width: calc(100% - 20px);
}

.switch {
    cursor: pointer;
}

.path-elem {
    margin: 4px;    
}

.side-navigation {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.side-navigation a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    color: #6b6b6b;
    display: block;
}

.side-navigation a:hover {
    color: #222222;
}

.main {
    margin-left: 150px;
}

.overall { 		
	margin-left: 7%;
    margin-top: 10px;
}